Repository Cambridge-ICCS/FTorch, pull requests merged in 2025-02, with the labels that each got.

#268 Remove MPI from multi-GPU example
  examples/3_MultiGPU/CMakeLists.txt
  examples/3_MultiGPU/README.md
  examples/3_MultiGPU/multigpu_infer_fortran.f90
  examples/3_MultiGPU/multigpu_infer_python.py
  examples/3_MultiGPU/pt2ts.py
  examples/3_MultiGPU/requirements.txt
  examples/3_MultiGPU/simplenet.py
Labels: documentation, testing, gpu

#278 Add HPC docs page.
  pages/cmake.md
  pages/examples.md
  pages/hpc.md
Labels: documentation

#281 Avoid copying examples when building tests
  .github/workflows/static_analysis.yml
  .github/workflows/test_suite_ubuntu.yml
  .github/workflows/test_suite_windows.yml
  .gitignore
  CMakeLists.txt
  README.md
  pages/cmake.md
  pages/testing.md
  pages/troubleshooting.md
  pages/updates.md
  run_test_suite.bat
  run_test_suite.sh
  test/README.md
  test/unit/CMakeLists.txt
  test/unit/README.md
  test/unit/test_tensor_constructors.pf
  test/unit/test_tensor_interrogation.pf
  test/unit/test_tensor_interrogation_cuda.pf
  test/unit/test_tensor_operator_overloads.pf
Labels: testing

#276 XPU and MPS take 3
  .github/workflows/static_analysis.yml
  CMakeLists.txt
  README.md
  conda/README.md
  examples/1_SimpleNet/CMakeLists.txt
  examples/1_SimpleNet/pt2ts.py
  examples/1_SimpleNet/simplenet_infer_python.py
  examples/2_ResNet18/CMakeLists.txt
  examples/2_ResNet18/pt2ts.py
  examples/2_ResNet18/resnet_infer_python.py
  examples/3_MultiGPU/CMakeLists.txt
  examples/3_MultiGPU/README.md
  examples/3_MultiGPU/multigpu_infer_fortran.f90
  examples/3_MultiGPU/multigpu_infer_python.py
  examples/3_MultiGPU/pt2ts.py
  examples/3_MultiGPU/simplenet.py
  examples/4_MultiIO/CMakeLists.txt
  examples/4_MultiIO/multiionet_infer_python.py
  examples/4_MultiIO/pt2ts.py
  examples/5_Looping/pt2ts.py
  examples/CMakeLists.txt
  pages/cmake.md
  pages/developer.md
  pages/gpu.md
  src/ctorch.cpp
  src/ctorch.h
  src/ftorch.F90
  src/ftorch.fypp
  test/unit/CMakeLists.txt
  utils/README.md
  utils/pt2ts.py
Labels: enhancement, gpu

#298 Cut down unit test code using destructor
  test/unit/test_tensor_constructors.pf
  test/unit/test_tensor_interrogation.pf
  test/unit/test_tensor_interrogation_cuda.pf
  test/unit/test_tensor_operator_overloads.pf
Labels: testing

#297 Address memory leak in overloaded operators
  src/ctorch.cpp
  src/ctorch.h
  src/ftorch.F90
  src/ftorch.fypp
  test/unit/CMakeLists.txt
  test/unit/test_tensor_constructors_destructors.pf
  test/unit/test_tensor_interrogation.pf
  test/unit/test_tensor_interrogation_cuda.pf
  test/unit/test_tensor_operator_overloads.pf
Labels: bug, autograd
